<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinan.mapper.CheckListMapper">

    <update id="update">
        update XinAn.check_list
        <set>
            <if test="inviteState!=null">
                invite_state = #{inviteState},
            </if>
            <if test="wishState!=null">
                wish_state = #{wishState},
            </if>
            <if test="socialPlatformState!=null">
                social_platform_state = #{socialPlatformState},
            </if>
            <if test="passwordBoxState!=null">
                password_box_state = #{passwordBoxState},
            </if>
            <if test="petState!=null">
                pet_state = #{petState},
            </if>
            <if test="treasureState!=null">
                treasure_state = #{treasureState},
            </if>
        </set>
        where id = #{id};
    </update>
</mapper>