<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinan.mapper.MerchantMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        insert into XinAn.merchant (name, merchant_category_id, leader, phone, city, district, detail, lat, lng) VALUES
        <foreach collection="merchants" item="m" separator=", ">
            (#{m.name},#{m.merchantCategoryId},#{m.leader},#{m.phone},#{m.city},#{m.district},#{m.detail},#{m.lat},#{m.lng})
        </foreach>
    </insert>
    <update id="updateMerchant" parameterType="com.xinan.entity.Merchant">
        update merchant
        <set>
            <if test="name != null and name !='' ">
                name = #{name},
            </if>
            <if test="merchantCategoryId != null">
                merchant_category_id = #{merchantCategoryId},
            </if>
            <if test="leader != null and leader!=''">
                leader = #{leader},
            </if>
            <if test="phone != null and phone!=''">
                phone = #{phone},
            </if>
            <if test="city != null and city!='' ">
                city = #{city},
            </if>
            <if test="district != null and district!=''">
                district = #{district},
            </if>
            <if test="detail != null and detail!= ''">
                detail = #{detail},
            </if>
            <if test="lat != null">
                lat = #{lat},
            </if>
            <if test="lng != null">
                lng = #{lng},
            </if>
        </set>
        where id = #{id};
    </update>

    <select id="getMerchantByAddress" resultType="com.xinan.entity.Merchant">
        select id, name, merchant_category_id, leader, phone, city, district, detail, lat, lng from XinAn.merchant
        <where>
            <if test="city!=null and city!=''">
                and city = #{city}
            </if>
            <if test="district!=null and district!=''">
                and district = #{district}
            </if>
        </where>
    </select>
</mapper>
