<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinan.mapper.MomentMapper">

    <update id="updateMoment">
        update XinAn.moment
        <set>
            <if test="title!=null and title!=''">
                title = #{title},
            </if>
            <if test="subTitle!=null and subTitle!=''">
                sub_title = #{subTitle},
            </if>
            <if test="photo1!=null and photo1!=''">
                photo1 = #{photo1},
            </if>
            <if test="photo1!=null and photo2!=''">
                photo2 = #{photo2},
            </if>
            <if test="photo1!=null and photo3!=''">
                photo3 = #{photo3},
            </if>
            <if test="photo1!=null and photo4!=''">
                photo4 = #{photo4},
            </if>
            <if test="beginDate!=null">
                begin_date = #{beginDate},
            </if>
            <if test="endDate!=null">
                end_date = #{endDate},
            </if>
            <if test="createTime!=null">
                create_time = #{createTime}
            </if>
        </set>
        where id = #{id};
    </update>
</mapper>
